*{
    box-sizing: border-box;
    margin: 0px;
}

#page-consultar-produto {

    .form {
        display: flex;
        flex-direction: column;
        font-family: 'lexendEL';
        margin-top: 2em;
        width: 100%;
        max-width: 1024px;
        overflow-x: auto;

    }
    
    table {
        border-collapse: collapse;
    }
    
    th {
        background-color: #D1BC9F;
        color: #fff;
        padding: 10px 15px;
        text-align: left;
    }
    
    td {
        border: solid 1px gray;
        padding: 10px 15px;
    }

    tr:nth-child(odd) td {
        background-color: #fff;
    }
    tr:nth-child(even) td {
        background-color: #f1f1f1;
    }
    
    tr td:nth-last-child(1), tr td:nth-last-child(2) {
        padding: 0px;
        text-align: center;
    }
    tr td:nth-last-child(1) span, tr td:nth-last-child(2) span {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 10px;
        cursor: pointer;
        transition: .6s;
        padding: 5px 10px;
        border-radius: 3px;
    }
    tr td:nth-last-child(1) span:hover, tr td:nth-last-child(2) span:hover {
        background-color: #000;
        color: #fff;
    }

    .fundo-consulta{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fundo-cartao{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F5F6F5;
        min-height: 100vh;
    }

    .fundo-filtro{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #D1BC9F;
        padding: 0em 2em 0em;
        margin-top: 1em;
        height: 8vh;
        width: 85vw;
    }

    .fundo-filtro p{
        font-family: 'lexendEL';
        color: #ffffff;
    }

    .div-filtrar{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    select{
        margin-left: 1em;
        cursor: pointer;
    }

    

    @media (max-width: 425px) {
        .form > div {
            flex-direction: column;
            align-items: flex-start;
            margin: .7em .2em;
        }
        .form > div label {
            min-width: auto;
        }

    }
}