*{
    box-sizing: border-box;
    margin: 0px;
}

.page-continuar-compra{
    display: flex;
    flex-direction: column;
    background-color: #E6E6E6;
    min-height: 100vh;

    .faixa-header{
        display: flex;
        justify-content: center;
        background-color: #ffffff;   
    }

    .logo:hover{
        opacity: 70%;
        cursor: pointer;
    }

    .principal-endereco-envio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0em 5em 0em;
        background-color: #ffffff;
        border: 1px solid #B6B6B6;
        min-width: 50vw;
        min-height: 40vh;
    }

    .principal-endereco-envio input{
        width: 17em;
        height: 3.2em;
        border: 1px solid #B6B6B6;  
        padding: 0em 1em; 
    }

    .todos-inputs{
        margin-top: 2em;
    }

    .titulo{
        font-family: 'lexendM';
    }

    .inputs-titulo{
        margin-top: 1em;
    }

    .fundo-pagamento{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2em 5em 0em;
        background-color: #ffffff;
        border: 1px solid #B6B6B6;
        min-width: 50vw;
        min-height: 40vh;
    }

    .f-pag{
        padding: 1.5em;
    }

    .endereco select{
        width: 17em;
        height: 3.2em;
        border: 1px solid #B6B6B6;  
        padding: 0em 1em; 
        margin-left: 2em;
    }

    .endereco input{
        width: 17em;
        height: 3.2em;
        border: 1px solid #B6B6B6;  
        padding: 0em 1em; 
    }
    
    #input-numero{
        width: 8em;
        margin-left: 2em;
    }

    #input-referencia{
        min-width: 26em;
        max-width: 26em;
    }

    #input-complemento{
        min-width: 37.5vw;
        max-width: 37.5vw;
    }

    .inputs{
        margin-top: .5em;
    }

    .input{
        margin-top: 1em;
    }

    .input-login{
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
    }

    .input-direita{
        margin-left: 2em;
    }

    .div-check{
        margin-top: 1.5em;
    }

    .pagamento{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1em;
    }

    .img-pagamento{
        margin: 0em .5em 0em;
    }

    .checkbox{
        display: flex;
    }

    .checkbox-dois{
        display: flex;  
    }

    .checkbox-pix{
        display: flex;
        margin-right: 6.5em;  
    }

    .chek{
        font-family: 'lexendR';
        color: #494949;
    }

    .finalizar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fundo-endereco{
        display: flex;
        flex-direction: column;
    }

    .endereco{
        margin-top: 2em;
    }

    .fundo{
        display: flex;
        flex-direction: row;
        margin: 3em 0em 3em;
    }

    .finaliza{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .finaliza p{
        font-family: 'lexendEL';
        text-transform: uppercase;
        margin-top: 2em;
    }
    
    .botao-salvar{
        font-family: 'lexendR';
        text-transform: uppercase;
        font-size: 11px;
        background-color: #987F5B;
        border: none;
        color: #ffffff;
        margin-top: 1.5em;
        width: 12em;
        height: 2.2em;
    }

    .botao-salvar:hover{
        opacity: 90%;
        cursor: pointer;
    }

    .botao-cancelar{
        font-family: 'lexendM';
        text-transform: uppercase;
        background-color: #ffffff;
        border: 1px solid #987F5B;
        color: #987F5B;
        margin-top: 2em;
        width: 20em;
        height: 3.2em;
        cursor: pointer;
    }

}