*{
    box-sizing: border-box;
    margin: 0px;
}

.page-continuar-compra{
    display: flex;
    flex-direction: column;
    background-color: #E6E6E6;
    min-height: 100vh;

    .faixa-header{
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        border-bottom: 1px solid #B6B6B6;
    }

    .logo:hover{
        opacity: 70%;
        cursor: pointer;
    }

    .fundo-endereco{
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        border: 1px solid#B6B6B6;
        width: 50vw;
    }

    .titulo{
        font-family: 'lexendM';
    }

    .fundo-endereco input{
        width: 15em;
        height: 3.2em;
        border: 1px solid #B6B6B6;  
        padding: 0em 1em; 
    }
 
    select{
        width: 15em;
        height: 3.2em;
        border: 1px solid #B6B6B6;  
        padding: 0em 1em; 
        margin-left: 2em;
    }

    #input-numero{
        width: 8em;
    }

    #input-referencia{
        min-width: 26em;
        max-width: 26em;
    }

    #input-complemento{
        min-width: 35vw;
        max-width: 35vw;
    }

    .inputs{
        margin-top: .5em;
    }

    .input{
        margin-top: 1em;
    }

    .input-login{
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
    }

    .input-direita{
        margin-left: 2em;
    }

    .checkbox{
        display: flex;
        margin-top: 1em;
    }

    .checkbox-dois{
        display: flex;
        margin-top: 1em;
        margin-left: 1em;
    }

    .chek{
        font-family: 'lexendR';
    }

    .fundo-pagamento{
        background-color: #ffffff;
        border: 1px solid#B6B6B6;
        width: 50vw;
    }

    .pagamento{
        display: flex;
        flex-direction: row;
    }
}