*{
    box-sizing: border-box;
    margin: 0px;
}

.page-carrinho{
   background-color: #E6E6E6;
    
   .div-carrinho{
        display: flex;
        flex-direction: row;
        padding: 4em;
   }

   .componente-pedido{
        display: flex;
        flex-direction: column;
   }

   .card-finalizar{
     margin-left: 12em;
   }

   .footer{
     margin-top: 5em;
   }
}