.componente-header-adm{

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
        border-bottom: 1px solid #B6B6B6;
    }

    .logo{
        cursor: pointer;
    }

    *p {
        cursor: pointer;
    }

    .topicos-p{
        display: flex;
        flex-direction: row;
        font-family: 'lexendM';
    }
    
    .topico {
        position: relative;
        margin-left: 2em;
    }

    .topico::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid #987F5B;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }

    .topicoo {
        position: relative;
    }

    .topicoo::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid #987F5B;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }

    .h-topico:hover {
        color: #987F5B;
    }
    

    .faixa-header p:hover{
        opacity: 70%;
        cursor: pointer;
    }

    .faixa-header p:hover::after{
        width: 100%;
    }

    .filtro-historico{
        display: flex;
        flex-direction: column;
        margin-left: 2em;
    }

    select{
        position: absolute;
        margin-top: 2em;
        margin-left: .7em;
        color: #987F5B;
    }

    select:hover,
    select:focus,
    select:active,
    select:checked {
    color: #333;
    }

    .botao-painel{
        background-color: #D1BC9F;
        border: none;
        border-radius: 10px;
        padding: 1em 2em;
        color: #ffffff;
    }
    
    .botao-painel:hover{
        opacity: 80%;
        cursor: pointer;
    }
}