.comp-modal-endereco {
    
    .modal-endereco {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        min-height: 100%;
        background-color: rgba(0, 0, 0, 0.7);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form>div label {
        min-width: 8em;
    }

    .form>div:last-child {
        justify-content: flex-end;
    }


    visibility: hidden;

    .exibir {
        visibility: visible !important;
    }

    .conteudo {
        position: relative;
        top: -20px;
        width: 400px;
        padding: 10px 20px 10px 20px;
        margin: 10px;
        border-radius: 5px;

        display: flex;
        flex-direction: column;
        background-color: #fff;
    }



//CSS MODAL TESTE

    
    .modal-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        background: rgba(0, 0, 0, 0.2);

        width: 100%;
        height: 100vh;

        position: fixed;
        left: 0;
        top: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.15s;
    }

    .modal {
        background-color: #ffffff;
        box-shadow: 0 0 10px 0 #00000070;
        margin-top: 5%;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: width 0.15s;
        border-radius: 0px;
        border-bottom-left-radius: 5px;
    }

    .modal-show>.modal {
        width: 350px;
        height: 530px;
    }

    .modal-show {
        opacity: 1;
        pointer-events: auto;
    }

    .fundo-perfil {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F5F6F5;
        border-bottom: 1px solid #B6B6B6;
        font-family: 'lexendL';
        padding: 1em 0em 1em;
    }

    .fundo-perfil h5{
        margin-top: .5em;
    }

    .div-info{
        padding: 1em 0em 1em;
    }

    .dados{
        padding: 15px;
    }

    .img-topico {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .div-info-dois{
        padding: 1em 0em 1em;
    }
    
    .div-info-dois p{
        margin-left: .5em;
        cursor: pointer;
    }
    
    .div-info p{
        margin-left: .5em;
        cursor: pointer;
    }

    .img-topico-dois {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: .5em;
        margin-left: .5em;
    }

    .img-topico-tres {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: .5em;
        margin-left: .3em;
    }

    .img-topico-quatro {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: .5em;
    }

    .img-msg{
        margin-left: .5em;
        margin-right: .1em;
    }

    .img-topico {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: .5em;
    }

    .img-perfil{
        width: 6em;
        cursor: pointer;
    }

    .p-dois{
        margin-top: .5em;
    }

    .div-fechar{
        display: flex;
        flex-direction: row-reverse;
    }

    .fechar{
        font-family: 'lexendM';
        font-size: 24px;
        position: absolute;
        right: 15px;
        top: 6px;
        opacity: 70%;
    }

    .fechar:hover {
        opacity: 100%;
        cursor: pointer; 
    }
    
    @media (max-width: 425px) {
        .form > div label {
            min-width: auto;
        }
        .conteudo {
            overflow: scroll;
            height: 80vh;
            top: 0px;
        }
    }



}
