*{
    box-sizing: border-box;
    margin: 0px;
}

.page-infantil{
    
    .fundo-cartao{
        background-color: #F5F6F5;
        padding: 2em 0em 0em 3.5em;
        min-height: 100vh;
    }

    .produtos{
        display: flex;
        flex-wrap: wrap;
    }
}