#page-pesquisar{

    .cartao-produto{
        border: 1px solid #B6B6B6;
        margin-left: .5em;
        margin-right: .5em;
    }

    .imagem{
        min-width: none;
        border-bottom: 1px solid #B6B6B6;
    }

    .info{
        padding: 0em .5em 1em;
    }

    .nome-produto{
        font-family: 'lexendR';
        font-size: 13px;
        color: #828282;
        padding: .3em 0em .3em;
    }

    .preco-produto{
        font-family: 'lexendM';
    }
    
    .info-produto{
        background-color: #ffffff;
        max-width: 100%;
    }

}