.page-adicionar-cupom{
    background-color: #E6E6E6;
    min-height: 100vh;

    .fundo-informacoes{
        //display: flex;
        //flex-direction: column;
        //justify-content: center;
    }

    .div-informacoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
    }

    *input{
        background-color: #ffffff;
        border: 1px solid #B6B6B6;
    }

    *option{
        font-family: 'lexendM';
        background-color: #ffffff;
        color: #828282;
    }

    *P{
        font-family: 'lexendR';
        color: #333;
    }

    *select{
        border: 1px solid #B6B6B6;
        color: #828282;
    }

    .input-cupom{
        width: 60em;
        min-height: 2.5em;
    }

    .p-cupom{
        color: #828282;
        font-size: 12px;
    }

    .input-info{
        width: 10em;
        min-height: 2.5em;
    }
    
    .descricao{
        font-family: 'lexendR';
        max-width: 19.5em;
        max-height: 10em;
        min-width: 22em;
        min-height: 10em;
        border: 1px solid #828282;
    }

    .cupom-quant{
        display: flex;
        flex-direction: row;
    }

    .cupom-info-quant{
        display: flex;
        flex-direction: column;
    }
}