.dados-pedido{

    .card{
        background-color: #ffffff;
        border: 1px solid #B6B6B6;
        min-width: 40%;
        max-width: 40%;
        height: 10em;
    }
    
    .div-fundo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #F5F5F5;
        border-bottom: 1px solid #B6B6B6;
        font-size: small;
    }

    .div-info{
        margin: .5em 0em .5em;
    }

    .pedido{
        font-family: 'lexendEL';
        font-size: 12px;
        color: #595959;
    }

    .data-preco{
        font-family: 'lexendM';
    }

    .situacao{
        font-family: 'lexendM';
        text-transform: uppercase;
    }

    .lixo{
        opacity: 80%;
    }

    .lixo:hover{
        opacity: 100%;
        cursor: pointer;
    }
}