.page-codigo-promocional{
    display: flex;
    flex-direction: column;
   align-items: center;    
    margin-top: 2em;

    .fundo-codigo{
        background-color: #ffffff;
        border: 1px solid #B6B6B6;
        width: 20em;
    }

    .info-codigo{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em 0em 1em;
    }
    
    *input{
        background-color: #ffffff;
        border: 1px solid #B6B6B6;
        padding: .5em 2em .5em 1.5em;
        width: 19em;
        font-size: 12px;
        cursor: pointer;
    }

    #pesquisa{
        background-image:url(../../../public/images/lupa.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 1.5em;
    }

    .paragrafo{
        font-family: 'lexendL';
        font-size: 12px;
        width: 21em;
        margin-top: .5em;
    }
}