.componente-header {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-bottom: 1px solid #B6B6B6;

    .frete {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #D1BC9F;
    }

    .frete-p {
        font-family: 'lexendSB';
        font-size: 18px;
        color: #ffffff;
        margin-left: 2em;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
    }

    .logo:hover {
        opacity: 80%;
        cursor: pointer;
    }

    .topicos-p {
        display: flex;
        flex-direction: row;
        font-family: 'lexendM';
    }

    .topico {
        position: relative;
        margin-left: 2em;
    }

    .topico::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid #987F5B;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }

    .topicoo {
        position: relative;
    }

    .topicoo::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid #987F5B;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }

    .header p:hover {
        opacity: 70%;
        cursor: pointer;
    }

    .header p:hover::after {
        width: 100%;
    }

    .input-pesquisa {
        display: flex;
        flex-direction: row;
        
    }  

    .input-pesquisa img{
        margin-left: 5px;
    }

    .input-pesquisa img:hover{
        cursor: pointer;
        transform: scale(1.2, 1.03);
    }

    *input {
        background-color: #ffffff;
        border: 1px solid #B6B6B6;
        padding: .5em 0em .5em 1.5em;
        border-radius: 10px;
        width: 16em;
    }

    #lupa {
        background-image: url(../../../public/images/lupa.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 1.5em;
    }

    .elementos-usuario {
        display: flex;
        flex-direction: row;
    }

    .elemento-img {
        margin-left: 1em;
    }

    .elementos-usuario img {
        cursor: pointer;
    }

}