#componente-header{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #B6B6B6;
    
    .frete{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #D1BC9F;
    }
    
    .frete-p{
        font-family: 'lexendSB';
        font-size: 18px;
        color: #ffffff;
        margin-left: 2em;
    }
    
    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .logo{
        margin-left: 2em;
        cursor: pointer;
    }

    .header p:hover{
        opacity: 70%;
        border-bottom: 2px solid #987F5B;
        cursor: pointer;
    }
    
    .topicos-p{
        display: flex;
        flex-direction: row;
        font-family: 'lexendM';
    }

    .topico{
        margin-left: 2em;
    }

    .input-pesquisa{
        display: flex;
        flex-direction: row;
    }

    *input{
        background-color: #ffffff;
        border: 1px solid #B6B6B6;
        padding: .5em 0em .5em 2em;
        border-radius: 10px;
        width: 19em;
    }

    #lupa{
        background-image:url(../../../public/images/lupa.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 1.5em;
    }

    .elementos-usuario{
        display: flex;
        flex-direction: row;
    }

    .elemento-img{
        margin-left: 1em;
    }

    .elementos-usuario img{
        cursor: pointer;
    }
}