*{
    box-sizing: border-box;
    margin: 0px;
}

.page-cadastro{
    display: flex;
    flex-direction: column;
    background-color: #F5F6F5;
    min-height: 100vh;

    .faixa-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
        border-bottom: 1px solid #B6B6B6;
    }

    .topicos{
        display: flex;
        flex-direction: row;
    }

    .p-topicos{
        margin-left: 2em;
    }

    .botao-painel{
        background-color: #D1BC9F;
        border: 1px solid #D1BC9F;
        border-radius: 10px;
        padding: 1em 2em;
        color: #ffffff;
    }

    .fundo-cadastrar{
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
    }

    .elementos-esquerda{
        display: flex;
        flex-direction: column;
        padding: 3em 5em 3em;
    }

    .adicionar-imagens{
        display: flex;
        flex-direction: row;
    }

    .adicionar-imagens-dois{
        display: flex;
        flex-direction: column;
        padding: 0em 3em;
    }

    .campo-imagem{
        background-color: #ffffff;
        border: 1px solid #B6B6B6;
        padding: 5em 5em;
    }

    .campo-imagem-dois{
        background-color: #ffffff;
        border: 1px solid #B6B6B6;
        padding: 1em 1em;
    }

    .imagem-dois{
        background-color: #ffffff;
        border: 1px solid #B6B6B6;
        padding: 1em 1em;
        margin-left: .5em;
    }

    .textarea{
        padding: 3em 0em;
    }

    .botoes{
        display: flex;
        flex-direction: row;
    }
}