#page-lading{

    .imagem-inicio{
        width: 100%;
        padding: .5em .5em;
    }

    .p-categoria{
        
    }

    .img-categoria{
        display: flex;
        flex-direction: row;
    }

    .img-categoria img{
        width: 20em;
    }
}