.cont-avaliacao-star{     
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    width: 7em;
    height: 2.4em;

    .star-icon{ 
        list-style-type: none;
        color: #b6b6b6;
        font-size: 30px;
        margin: 0px;
        cursor: pointer;
    }

    .est-aval{
        font-family: 'lexendR';
        padding: .3em 1em 0em;
    }

    .star-icon::before{        
        content:"\2605";
    } 

    .star-icon.ativo ~ .star-icon::before{
        content: "\2606";
    }

}