@font-face {
    font-family: 'lexendSB';
    src: url(../../public/fonts/Lexend-SemiBold.ttf);
}

@font-face {
    font-family: 'lexendR';
    src: url(../../public/fonts/Lexend-Regular.ttf);
}

@font-face {
    font-family: 'lexendM';
    src: url(../../public/fonts/Lexend-Medium.ttf);
}

@font-face {
    font-family: 'lexendL';
    src: url(../../public/fonts/Lexend-Light.ttf);
}

@font-face {
    font-family: 'lexendEB';
    src: url(../../public/fonts/Lexend-ExtraBold.ttf);
}

@font-face {
    font-family: 'lexendB';
    src: url(../../public/fonts/Lexend-Bold.ttf);
}