*{
    box-sizing: border-box;
    margin: 0px;
}

.page-feminino{

    .fundo-cartao{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #F5F6F5;
        min-height: 100vh;
    }

    .div-cartao{
        padding: .5em 0em 5em;   
    }

    .produtos{
        display: flex;
        flex-direction: row;
        margin-top: 2em;
        flex-wrap: wrap;
    }
}