.componente-compra{

    .fundo-compra{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 40%;
        max-width: 40%;
        min-height: 55%;
        max-height: 55%;
        background-color: #ffffff;
    }

    .titulo{
        font-family: 'lexendEL';
    }

    .info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'lexendEL';
    }

    .info-meio{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'lexendEL';
        color: #987F5B;
        margin: .2em 0em .2em;
    }

    .compra{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-pagamento{
        margin-left: 1em;
    }

    .linha{
        margin: 1em 0em 1em;
        min-width: 90%;
    }
    
    .botao-compra{
        font-family: 'lexendR';
        text-transform: uppercase;
        background-color: #987F5B;
        border: 1px solid #987F5B;
        color: #ffffff;
        margin-top: 1.5em;
        width: 20em;
        height: 3.2em;
    }

    .botao-compra:hover{
        opacity: 90%;
        cursor: pointer;
    }

    .teste{
        width: 20em;
        height: 5em;
        background-color: #c9c9c9;
    }
}