.componente-compra{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #B6B6B6;

    .espacamento{
        padding: 2em 3em;
    }

    .titulo-resumo{
        font-family: 'lexendEL';
        color: #494949;
    }

    .informacoes{
        margin-top: 1.5em;
    }

    .info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'lexendEL';
    }

    .info-meio{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'lexendEL';
        color: #987F5B;
        margin: .2em 0em .2em;
    }

    .resumo-compra{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .resumo{
        display: flex;
        flex-direction: column;
    }

    .compra{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-pag{
        margin-left: .5em;
    }

    .pagamentos{
        margin-top: 1.5em;
    }

    .linha{
        margin: 1em 0em 1em;
        min-width: 90%;
    }
    
    .botao-compra{
        font-family: 'lexendR';
        text-transform: uppercase;
        background-color: #987F5B;
        border: none;
        color: #ffffff;
        margin-top: 1.5em;
        width: 20em;
        height: 3.2em;
    }

    .botao-compra:hover{
        opacity: 90%;
        cursor: pointer;
    }

    .teste{
        width: 20em;
        height: 5em;
        background-color: #c9c9c9;
    }
}